
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #cb6059;
    color: white;

}

.wrapper {
    display: grid;
    grid-template-columns: 600px auto;
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        display: inline-table;
    }

    .sec-1 {
        width: 100%;
        height: 100%;
        padding: 30px 0 0 0 ;
        grid-template-rows: repeat(3,33%);
    }

    .sec-2 {
        display: none;
    }

    #container {
        padding: 0 0 0 0;
    }
}

.sec-2 {
    display: grid;
    grid-column: 2;
    grid-template-rows: 33% 33% 33%;
}

.sec-2 > h1 {
    margin-top: 10%;
    height: 100px;
    line-height: 100px;
    white-space: nowrap;
    text-align: center;
}

.sec-2 > h2 {
    margin-top: 10%;
    height: inherit;
    width: inherit;
    line-height: 100px;
    white-space: nowrap;
    text-align: center;
    text-wrap: none;
}

.sec-1 {
    background: #363636;
    color: white;
    width: 600px;
    display: grid;
    grid-column: 1;
    grid-template-rows: 30% 40% 30%;
}

.sec-1 > img {
    height: 150px;
    width: 125px;
    margin-top: 15%;
    margin-left: 35%;
    border-radius: 2px;
}


#container {
    background: inherit;
    overflow: hidden;
    padding: 30px 0 0 0;
    width: inherit;
    text-align: center;
    margin: 0 auto;
}

label {
    margin-left: 90px;
}

input[type=text], input[type=email] {
    width: 80%;
    padding: 16px 20px;
    display: block;
    margin: 10px auto;
    border-bottom: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 600ms ease-in-out;
}

input:focus, input:hover {
    border-bottom: 1px solid #cb6059;
}

input, button, ::placeholder {
    background: 0;
    display: block;
    width: 80%;
    height: 60px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    margin: 20px auto;
    margin-bottom: 15px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

button[type=submit] {
    color: white;
    background-color: rgba(255, 255, 255 0.5);
    padding: 14px 20px;
    display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

button[type=submit]:hover {
    background-color: rgba(203, 96, 89, 0.3);
}

#social {
    margin-top: 40px;
    padding: 10px;
    width: inherit;
    color: white;
    font-size: 40px;
    text-align: center;
}

#social > a {
    color: inherit;
    float: bottom;
}

#social > a:hover {
    color: #cb6059;
}

#detail {
    overflow: hidden;
    text-align: center;
}

#detail p {
    width: 50%;
    display: block;
    margin-left: 25%;
    margin-top: 180px;

}
