<html lang="en">
{% load premailer %}

{% premailer %}
    <style>

        body {
            font-family: sans-serif;
            color: #cbcbcb;
        }

        h1 {
            color: #363636;
            width: 100%;
            text-align: center;
        }

        #content {
            color: black;
            background: white;
            margin: 0 auto;
            padding: 10% 0;
            width: 600px;
            height: 400px;
        }

        #content h2 {
            margin: 0 auto;
            padding: 10% 0;
            width: 50%;
            text-align: center;
        }

        #content p {
            text-align: center;
        }

        a, img {
            width: 30px;
            height: 30px;
            margin-right: 4px;
        }

        #media {
            margin-top: 50px;
        }

    </style>
    <body>
    <h1>Thanks for showing interest, {{ first_name }}</h1>

    <div id="content">
        <h2>We'll let you know when the site is fully developed</h2>
        <p>In the meantime, why not check me out on social media:</p>
        {% load static %}
        <p id="media">
            <a href="https://www.instagram.com/itsthatblackkidd"><img src="cid:fa-instagram.png"></a>
            <a href="https://www.snapchat.com/add/jakesheku"><img src="cid:fa-snapchat.png"></a>
            <a href="https://twitter.com/itsthatblackidd"><img src="cid:fa-twitter.png"></a>
        </p>
    </div>


    </body>
    </html>
{% endpremailer %}