<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Register</title>
    <script src="https://use.fontawesome.com/85105cfd72.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% load static %}
    <script type="text/javascript" src="{% static 'people/enquire.js' %}"></script>
    <script type="text/javascript" src="{% static 'people/typed.js' %}"></script>
    <script type="text/javascript">
        function loadJS(url) {
            var head = document.getElementsByTagName('head')[0];
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = url;

            head.appendChild(script)
        }
    </script>
    <script type="text/javascript">
        enquire.register("only screen and (max-width: 768px)", {
            match: function () {
                loadJS("{% static 'people/resize.js' %}")
            }
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $('#typed').typed({
                strings: ["black", "a developer", "Sheku Kanneh"],
                typespeed: 10,
                callback: function () {
                    $('.typed-cursor').hide();

                    $('#typed-2').typed({
                        strings: ["Welcome to datblackdev.space", "Tell your friends about my site"],
                        typespeed: 4,
                        callback: function () {
                            $('.typed-cursor').hide()
                        }
                    })
                }
            });

        })
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'people/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <div class="sec-1">
        <div id="detail">
            <p>Hello! My site is still in development, but leave your details
                below and you'll receive an email once I'm done</p>
        </div>
        <div id="container">
            <form method="post" id="register_form">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
        </div>
        <span id="social">
             <a href="https://www.instagram.com/itsthatblackkidd"><i class="fa fa-instagram" aria-hidden="true"></i></a>
             <a href="https://www.snapchat.com/add/jakesheku"><i class="fa fa-snapchat-ghost"
                                                                 aria-hidden="true"></i></a>
             <a href="https://twitter.com/itsthatblackidd"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </span>

    </div>

    <div class="sec-2">
        <h2>Hello,</h2>
        <h1>I am...<span id="typed"></span></h1>
        <h2 id="typed-2"></h2>
    </div>

</div>
</body>
</html>