<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'people/style.css' %}"/>
</head>
<body>

<div class="wrapper">
    <div class="sec-1">
        <div></div>
    </div>

    <div class="sec-2">
        <div></div>
        <h1>Thanks for showing interest!</h1>
        <h2>I'll email you when I'm done</h2>
    </div>
</div>

</body>
</html>