<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks for registering</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'people/style.css' %}"/>
    <script src="https://use.fontawesome.com/85105cfd72.js"></script>

</head>
<body>

<div id="notice_wrapper">
    <h2 style="text-align: center">Thanks, you'll be emailed once we're truly live. </h2>
</div>

<footer><i class="fa fa-instagram" aria-hidden="true"></i></footer>

</body>
</html>